@import "../base";
$font:"Microsoft YaHei";
//右边内容
.right-content{
  //主体详细内容
  .all-main{
    width: 84%;
    height: auto;
    margin-top: 120px;
    >div{
      display: none;
    }
    >div.list{
      display: block;
    }
    .tab-content{
      width: 100%;
      height: auto;
      //列表
        .article{
          width: 100%;
          height: auto;
          .type-title{
            width: 100%;
            height: auto;
            background-color: #fff;
            .title-text{
              height: 48px;
              line-height: 48px;
              background-color: #e1f1fe;
              span{
                display: inline-block;
                width:12%;
                text-align: left;
                font-size: 14px;
                color: #333;
                &:first-of-type{
                  width: 6%;
                  text-align: center;
                }
              }
            }
            .list-show{
              width: 100%;
              height: auto;
              li{
                height: 46px;
                line-height: 46px;
                border-bottom:1px solid #e9ebea;
                &:last-of-type{
                  border-bottom: 0;
                }
                span{
                  display: inline-block;
                  width: 12%;
                  text-align: left;
                  font-size: 12px;
                  color: #555;
                  &:first-of-type{
                    width: 6%;
                    text-align: center;
                  }
                  &:nth-of-type(2){
                    color: #0285e3;
                  }
                }
              }
            }
          }
        }
        //编辑
        .same-hide{
        display: none;
        .edit-box{
          width: 1000px;
          position: absolute;
          z-index: 100;
          height: 800px;
          top: 20%;
          left: 50%;
          margin-left: -500px;
          .close{
            width: 80px;
            height: 80px;
            background: url("/images/business/circle_close.png") no-repeat;
            display: block;
            position: absolute;
            right: -62px;
            top: -65px;
            cursor: pointer;
          }
          .edit-pop{
            position: absolute;
            left: 50%;
            top: 0;
            margin-left: -500px;
            width: 100%;
            height: auto;
            border: 1px solid #066dc2;
            background-color: #fff;
            .pop-input{
              width: 100%;
              height: auto;
              overflow: hidden;
              margin-bottom: 25px;
              li{
                width: 47%;
                float: left;
                line-height: 55px;
                border-bottom:1px solid #ddd;
                margin-top: 10px;
                &:nth-of-type(odd){
                  margin-right: 60px;
                }
                label{
                  display: inline-block;
                  margin-left: 30px;
                  width: 35%;
                  font-size: 14px;
                  color: #636267;
                }
                .selected-same{
                  width: 56%;
                  background: url("/images/business/down.png") no-repeat right 10px center;
                  text-align: center;
                  padding-left: 50px;
                  font-size: 15px;
                  line-height: 45px;
                  color: #252525;
                }
                .edit-pt{
                  width: 42%;
                  background: 0;
                  padding-left: 50px;
                  font-size: 14px;
                  color: #252525;
                  &::-webkit-input-placeholder{ color: #c2bcbc; }

                }
                .icon-time{
                  height: 25px;
                  background: url("/images/business/calendar.png") no-repeat right center;
                }
              }
            }
            .file-position{
              width: 95%;
              margin: 0 auto 30px;
              height: auto;
              overflow: hidden;
              line-height: 78px;
              font-size: 14px;
              .file{
                float: left;
                width: 8%;
                background-color: #066dc2;
                text-align: center;
                color: #fff;
                border-radius: 50px 0 0 50px;
                height: 82px;
              }
              .name-file{
                width: 15%;
                float: left;

                text-align: left;
                padding-left: 20px;
                color: #333;
                border:2px solid #066dc2;
              }
              .view-upload{
                width:62% !important;
              }
              .cun{
                width: 12%;
                float: left;
                color: #066dc2;
                text-align: center;
                border:2px solid #066dc2;
                border-radius: 50px 0 0 50px;

              }
              .file-center{
                width: 75%;
                float: left;
                padding-left: 20px;
                overflow: hidden;
                border: {
                  top: 2px;
                  bottom: 2px;
                  style: solid;
                  color: #066dc2;
                }
                small{
                  float: left;
                }
                .bg-pic{
                  float: right;
                  width: 40px;
                  height: 27px;
                  background: url("/images/business/small.jpg") no-repeat right center;
                  margin:{
                    top: 26px;
                    right: 2%;
                  }
                }
                .view-pic{
                  float: right;
                  width: 34px;
                  height: 30px;
                  background: url("/images/supplier/file_view.png") no-repeat right center;
                  margin:{
                    top: 26px;
                    right: 2%;
                  }
                }
              }
              .file-upload{
                width: 10%;
                float: left;
                background-color: #066dc2;
                text-align: center;
                border-radius: 0 50px 50px 0;
                border-left:1px solid #066dc2;
                height: 82px;
                input[type="file"]{
                  display: none;
                }
                .replace{
                  display: block;
                  color: #fff;
                  vertical-align: middle;
                  line-height: 30px;
                  img{
                    width: 29px;
                    height: 31px;
                    display: block;
                    margin: 10px auto 0;

                  }
                }
              }
            }
            .modify{
              width: 100%;
              .modify-btn{
                width: 100%;
                height: 58px;
                color: #fff;
                font-size: 16px;
              }
              .sure{
                @extend .modify-btn;
                background-color: #066dc2;
                cursor: pointer;
              }
            }
          }

        }
        .del-box{
          width: 30%;
          height: auto;
          position: absolute;
          left: 50%;
          top: 40%;
          margin-left: -265px;
          z-index: 80;
          .close{
            width: 80px;
            height: 80px;
            background: url("/images/business/circle_close.png") no-repeat;
            display: block;
            position: absolute;
            right: -62px;
            top: -65px;
            cursor: pointer;
          }
          .tips{
            width: 100%;
            background-color: #fff;
            border: 2px solid #066dc2;
            text-align: center;
            h3{
              color: #066dc2;
              font-size: 16px;
              height: 40px;
              line-height: 40px;
              margin: 20px 0 10px;
            }
            p{
              font-size: 16px;
              color: #333;
              line-height: 30px;
              margin-bottom: 20px;
            }
            .sure{
              width: 100%;
              height: 62px;
              font-size: 16px;
              background-color: #066dc2;
              color: #fff;
              cursor: pointer;
            }
          }
        }
        .export-box{
          width: 50%;
          height: auto;
          position: absolute;
          left: 50%;
          top: 35%;
          margin-left: -25%;
          z-index: 80;
          .close{
            width: 80px;
            height: 80px;
            background: url("/images/business/circle_close.png") no-repeat;
            display: block;
            position: absolute;
            right: -62px;
            top: -65px;
            cursor: pointer;
          }
          .tips{
            width: 100%;
            background-color: #fff;
            border: 2px solid #066dc2;
            text-align: center;
            h3{
              color: #066dc2;
              font-size: 18px;
              height: 40px;
              line-height: 40px;
              margin: 20px 0 10px;
            }
            p{
              font-size: 16px;
              color: #333;
              line-height: 30px;
              margin-bottom: 20px;
              span{
                color: #999;
                font-size: 14px;
              }
            }
            .file-position{
              width: 95%;
              margin: 0 auto 10px;
              height: auto;
              overflow: hidden;
              line-height: 78px;
              font-size: 14px;

              .cun{
                width: 12%;
                float: left;
                color: #066dc2;
                text-align: center;
                border:2px solid #066dc2;
                border-radius: 50px 0 0 50px;

              }
              .file-center{
                width: 75%;
                float: left;
                padding-left: 20px;
                overflow: hidden;
                border: {
                  top: 2px;
                  bottom: 2px;
                  style: solid;
                  color: #066dc2;
                }
                line-height: 78px;
                small{
                  float: left;
                }
                .bg-pic{
                  float: right;
                  width: 34px;
                  height: 35px;
                  background: url("/images/business/excel.png") no-repeat right center;
                  margin:{
                    top: 3%;
                    right: 2%;
                  }
                }
              }
              .file-upload{
                width: 10%;
                float: left;
                background-color: #066dc2;
                text-align: center;
                border-radius: 0 50px 50px 0;
                border-left:1px solid #066dc2;
                height: 82px;
                input[type="file"]{
                  display: none;
                }
                .replace{
                  display: block;
                  color: #fff;
                  vertical-align: middle;
                  line-height: 30px;
                  img{
                    width: 29px;
                    height: 31px;
                    display: block;
                    margin: 10px auto 0;

                  }
                }
              }
            }
            .number-time{
              width: 45%;
              margin: 80px auto;
              border-bottom: 1px solid #dfdfdf;
              text-align: left;
              label{
                width: 40%;
                display: inline-block;
                text-align: center;
              }
              .select-number{
                width: 56%;
                padding-left: 90px;
                line-height: 45px;
                color: #c2bcbc;
                font-size: 14px;
                option{
                  color: #252525;
                }
              }

            }
            .sure{
              width: 100%;
              height: 62px;
              font-size: 16px;
              background-color: #066dc2;
              color: #fff;
              cursor: pointer;
            }
          }
        }
      }
      
      .same-box{
        width: 100%;
        background-color: #fff;
        margin-bottom: 50px;
        .edit-content{
          width: 100%;
          height: auto;

          h4{
            color: #636267;
            line-height: 60px;
            border-bottom: 1px solid #ddd;
            padding-left: 30px;
            font-size: 18px;
            font-weight: normal;
          }
          .basic-info{
            padding:30px 30px;
            h5{
              color: #636267;
              font-size: 16px;
              border-left: 6px solid #027ee4;
              padding-left: 10px;
              margin-bottom: 15px;
              font-weight: normal;
            }
            .info-edit{
              width: 100%;
              li{
                float: left;
                width: 25%;
                vertical-align: middle;
                margin-bottom: 30px;
                height: 35px;
                label{
                  display: inline-block;
                  width: 22%;
                  text-align: right;
                  color: #636267;
                  font-size: 14px;
                  height: 32px;
                }
                input{
                  width: 70%;
                  height: 32px;
                  border: 1px solid #e7e6eb;
                  padding-left: 10px;
                  vertical-align: middle;
                  &::-webkit-input-placeholder{
                    color: #252525;
                  }
                }
              }
            }
          }
          .scope{
            width: 100%;
            height: auto;
            padding: 0 30px;
            .operating{
              width: 30%;
              float: left;
              margin-right: 3%;
              margin-bottom: 30px;
              h5{
                color: #636267;
                font-size: 16px;
                border-left: 6px solid #027ee4;
                padding-left: 10px;
                margin-bottom: 15px;
                font-weight: normal;
              }
              .text{
                width: 100%;
                resize: none;
                padding:{
                  top: 10px;
                  left: 10px;
                }
                height: 130px;
                font:{
                  size: 16px;
                  family: "Microsoft YaHei";
                }
                border: 1px solid #e7e6eb;
                color: #252525;
              }
              &.enterprise{
                margin-right: 0;
                .qualification{
                  width: 100%;
                  border: 1px solid #e7e6eb;
                  .text-title{
                    border-bottom: 1px solid #e7e6eb;
                    height: 34px;
                    line-height: 34px;
                    &:last-of-type{
                      border-bottom: 0;
                    }
                    span{
                      display: inline-block;
                      height: 34px;
                      text-align: center;
                      border-right: 1px solid #e7e6eb;
                      font-size: 14px;
                      color: #636267;
                      &:last-of-type{
                        border-right: 0;
                      }
                      input{
                        vertical-align: middle;
                        height: 30px;
                        line-height: 30px;
                      }
                    }
                  }
                }
              }

            }
            .happening{

              float: left;
              margin-right: 2%;
              margin-bottom: 30px;
              &:first-of-type{
                width: 12%;
              }
              &:nth-of-type(2){
                width: 55%;
              }
              &:last-of-type{
                width: 25%;
                margin-right: 0;
              }
              h5{
                color: #636267;
                font-size: 16px;
                border-left: 6px solid #027ee4;
                padding-left: 10px;
                margin-bottom: 15px;
                font-weight: normal;
              }
              .qualification{
                width: 100%;
                border: 1px solid #e7e6eb;
                .text-title{
                  border-bottom: 1px solid #e7e6eb;
                  height: 34px;
                  line-height: 34px;
                  &:last-of-type{
                    border-bottom: 0;
                  }
                  span{
                    display: inline-block;
                    height: 34px;
                    text-align: center;
                    border-right: 1px solid #e7e6eb;
                    font-size: 14px;
                    color: #636267;
                    input{
                      //padding-left: 15px;
                      &::-webkit-input-placeholder{
                        color: #252525;
                      }
                    }
                    &:last-of-type{
                      border-right: 0;
                    }
                  }
                }
              }
            }

          }
        }
      }
    }

  }
}

#modulebg{
  background: rgba(0,0,0,.5);
  z-index: 8;
  position: fixed;
  top: 0;
  left: 10.8%;
  right: 0;
  bottom: 0;
  display: none;
}