@import "../base";
$font:"Microsoft YaHei";
//右边内容
.right-content{
  //主体详细内容
  .all-main{
    width: 84%;
    height: auto;
    margin-top: 120px;
    >div{
      display: none;
    }
    >div.list{
      display: block;
    }
    .tab-content{
      width: 100%;
      height: auto;
      //列表
        .article{
          width: 100%;
          height: auto;
          overflow: auto;
          li{
            width: 49%;
            height: auto;
            background-color: #fff;
            float: left;
            margin: {
              right: 2%;
              bottom: 30px;
            }
            &:nth-of-type(even){
              margin-right: 0;
            }
            .list-left{
              float: left;
              width: 48%;
              border-right: 1px solid #f3f3f3;
              margin: 20px 2% 20px 15px;
              position: relative;
              .pic-left{
                float: left;
                margin-right: 4%;
                position: relative;
                &:hover{
                  cursor: pointer;
                  small{
                    display: block;
                  }
                }
                .picture{
                  display: block;
                  width: 110px;
                  height: 150px;
                  background-color: #000;
                }
                .magnifier{
                  position: absolute;
                  width: 25px;
                  height: 26px;
                  display: block;
                  background: url("/images/supplier/magnifier.png")no-repeat;
                  right: 2%;
                  bottom: 1%;
                }
                small{
                  position: absolute;
                  width: 110px;
                  height: 150px;
                  background: rgba(0,0,0,.5);
                  top: 0;
                  left: 0;
                  display: none;
                }
              }
              .bigger{
                position: absolute;
                top: 0;
                left: 30%;
                z-index: 1;
                display: none;
                .close-pic{
                  position: absolute;
                  right: -5%;
                  top: -3%;
                  width: 16px;
                  height: 17px;
                  background: url("/images/supplier/close_pic.png") no-repeat right center;
                  cursor: pointer;
                }
                .pic-big{
                  display: block;
                  width: 400px;
                  height: 541px;
                  background: url("/images/supplier/big_pic.png") no-repeat center;
                }
              }
              .contact-info{
                width: 60%;
                float: left;
                overflow: hidden;
                .contact-title{
                  line-height: 32px;
                  margin-bottom: 10px;
                  .title-top{
                    float: left;
                    font-size: 16px;
                    color: #1a1a1a;
                  }
                  .post{
                    float: right;
                    font-size: 14px;
                    color: #919191;
                  }
                }
                .post-people{
                  display: block;
                  font-size: 14px;
                  color: #919191;
                  //padding-bottom: 10px;
                }
                p{
                  color: #027ee4;
                  line-height: 26px;
                  font-size: 14px;
                  padding-left: 22px;
                  &.phone{
                    background: url("/images/supplier/tel.png") no-repeat left center;
                  }
                  &.fax{
                    background: url("/images/supplier/fax.png") no-repeat left center;
                  }
                  &.email{
                    background: url("/images/supplier/email.png") no-repeat left center;
                  }
                }
              }
            }
            .list-right{
              width: 38%;
              float: left;
              margin: 20px auto 0;
              p{
                font-size: 12px;
                color: #141414;
                line-height: 26px;
                .under{
                  display: inline-block;
                  width: 35%;
                  height: 10px;
                  background-color: #a0dcff;
                  vertical-align: middle;
                  margin-right: 5px;
                  .progress{
                    display: inline-block;
                    width: 70%;
                    height: 100%;
                    background-color: #47a2ed;
                    vertical-align: 8px;
                  }
                }
                span{
                  color: #919191;
                }
              }
            }
            .deleted-btn{
              float: right;
              width: 32px;
              height: 32px;
              margin: 10px;
              cursor: pointer;
              background: url("/images/supplier/del.png") no-repeat;
            }
            .edit-btn{
              float: right;
              width: 32px;
              height: 32px;
              margin: 10px;
              cursor: pointer;
              background: url("/images/supplier/edit.png") no-repeat;
            }
          }
        }
        //编辑
      .same-hide{
        display: none;
        .edit-box{
          width: 1000px;
          position: absolute;
          z-index: 100;
          height: 800px;
          top: 20%;
          left: 50%;
          margin-left: -500px;
          .close{
            width: 80px;
            height: 80px;
            background: url("/images/business/circle_close.png") no-repeat;
            display: block;
            position: absolute;
            right: -62px;
            top: -65px;
            cursor: pointer;
          }
          .edit-pop{
            position: absolute;
            left: 50%;
            top: 0;
            margin-left: -500px;
            width: 100%;
            height: auto;
            border: 1px solid #066dc2;
            background-color: #fff;
            .pop-input{
              width: 100%;
              height: auto;
              overflow: hidden;
              margin-bottom: 25px;
              li{
                width: 47%;
                float: left;
                line-height: 55px;
                border-bottom:1px solid #ddd;
                margin-top: 10px;
                &:nth-of-type(odd){
                  margin-right: 60px;
                }
                label{
                  display: inline-block;
                  margin-left: 30px;
                  width: 35%;
                  font-size: 14px;
                  color: #636267;
                }
                .selected-same{
                  width: 56%;
                  background: url("/images/business/down.png") no-repeat right 10px center;
                  text-align: center;
                  padding-left: 50px;
                  font-size: 15px;
                  line-height: 45px;
                  color: #252525;
                }
                .edit-pt{
                  width: 42%;
                  background: 0;
                  padding-left: 50px;
                  font-size: 14px;
                  color: #252525;
                  &::-webkit-input-placeholder{ color: #c2bcbc; }
                }
                .icon-time{
                  height: 25px;
                  background: url("/images/business/calendar.png") no-repeat right center;
                }
              }
            }
            .file-position{
              width: 95%;
              margin: 0 auto 30px;
              height: auto;
              overflow: hidden;
              line-height: 78px;
              font-size: 14px;

              .cun{
                width: 12%;
                float: left;
                color: #066dc2;
                text-align: center;
                border:2px solid #066dc2;
                border-radius: 50px 0 0 50px;

              }
              .file-center{
                width: 75%;
                float: left;
                padding-left: 20px;
                overflow: hidden;
                border: {
                  top: 2px;
                  bottom: 2px;
                  style: solid;
                  color: #066dc2;
                }
                small{
                  float: left;
                }
                .bg-pic{
                  float: right;
                  width: 40px;
                  height: 27px;
                  background: url("/images/business/small.jpg") no-repeat right center;
                  margin:{
                    top: 26px;
                    right: 2%;
                  }
                }
              }
              .file-upload{
                width: 10%;
                float: left;
                background-color: #066dc2;
                text-align: center;
                border-radius: 0 50px 50px 0;
                border-left:1px solid #066dc2;
                height: 82px;
                input[type="file"]{
                  display: none;
                }
                .replace{
                  display: block;
                  color: #fff;
                  vertical-align: middle;
                  line-height: 30px;
                  img{
                    width: 29px;
                    height: 31px;
                    display: block;
                    margin: 10px auto 0;

                  }
                }
              }
            }
            .modify{
              width: 100%;
              .modify-btn{
                width: 100%;
                height: 58px;
                color: #fff;
                font-size: 16px;
              }
            }
          }

        }
        .del-box{
          width: 30%;
          height: auto;
          position: absolute;
          left: 50%;
          top: 40%;
          margin-left: -265px;
          z-index: 80;
          .close{
            width: 80px;
            height: 80px;
            background: url("/images/business/circle_close.png") no-repeat;
            display: block;
            position: absolute;
            right: -62px;
            top: -65px;
            cursor: pointer;
          }
          .tips{
            width: 100%;
            background-color: #fff;
            border: 2px solid #066dc2;
            text-align: center;
            h3{
              color: #066dc2;
              font-size: 16px;
              height: 40px;
              line-height: 40px;
              margin: 20px 0 10px;
            }
            p{
              font-size: 16px;
              color: #333;
              line-height: 30px;
              margin-bottom: 20px;
            }
            .sure{
              width: 100%;
              height: 62px;
              font-size: 16px;
              background-color: #066dc2;
              color: #fff;
              cursor: pointer;
            }
          }
        }
        .export-box{
          width: 50%;
          height: auto;
          position: absolute;
          left: 50%;
          top: 35%;
          margin-left: -25%;
          z-index: 80;
          .close{
            width: 80px;
            height: 80px;
            background: url("/images/business/circle_close.png") no-repeat;
            display: block;
            position: absolute;
            right: -62px;
            top: -65px;
            cursor: pointer;
          }
          .tips{
            width: 100%;
            background-color: #fff;
            border: 2px solid #066dc2;
            text-align: center;
            h3{
              color: #066dc2;
              font-size: 18px;
              height: 40px;
              line-height: 40px;
              margin: 20px 0 10px;
            }
            p{
              font-size: 16px;
              color: #333;
              line-height: 30px;
              margin-bottom: 20px;
              span{
                color: #999;
                font-size: 14px;
              }
            }
            .file-position{
              width: 95%;
              margin: 0 auto 10px;
              height: auto;
              overflow: hidden;
              line-height: 78px;
              font-size: 14px;

              .cun{
                width: 12%;
                float: left;
                color: #066dc2;
                text-align: center;
                border:2px solid #066dc2;
                border-radius: 50px 0 0 50px;

              }
              .file-center{
                width: 75%;
                float: left;
                padding-left: 20px;
                overflow: hidden;
                border: {
                  top: 2px;
                  bottom: 2px;
                  style: solid;
                  color: #066dc2;
                }
                line-height: 78px;
                small{
                  float: left;
                }
                .bg-pic{
                  float: right;
                  width: 34px;
                  height: 35px;
                  background: url("/images/business/excel.png") no-repeat right center;
                  margin:{
                    top: 3%;
                    right: 2%;
                  }
                }
              }
              .file-upload{
                width: 10%;
                float: left;
                background-color: #066dc2;
                text-align: center;
                border-radius: 0 50px 50px 0;
                border-left:1px solid #066dc2;
                height: 82px;
                input[type="file"]{
                  display: none;
                }
                .replace{
                  display: block;
                  color: #fff;
                  vertical-align: middle;
                  line-height: 30px;
                  img{
                    width: 29px;
                    height: 31px;
                    display: block;
                    margin: 10px auto 0;

                  }
                }
              }
            }
            .number-time{
              width: 45%;
              margin: 80px auto;
              border-bottom: 1px solid #dfdfdf;
              text-align: left;
              label{
                width: 40%;
                display: inline-block;
                text-align: center;
              }
              .select-number{
                width: 56%;
                padding-left: 90px;
                line-height: 45px;
                color: #c2bcbc;
                font-size: 14px;
                option{
                  color: #252525;
                }
              }

            }
            .sure{
              width: 100%;
              height: 62px;
              font-size: 16px;
              background-color: #066dc2;
              color: #fff;
              cursor: pointer;
            }
          }
        }
      }


    }

  }
}

#modulebg{
  background: rgba(0,0,0,.5);
  z-index: 8;
  position: fixed;
  top: 0;
  left: 10.8%;
  right: 0;
  bottom: 0;
  display: none;
}