//浏览器初始化样式
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, span, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, input,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html, body {
  font-size: 16px;
  font-family:"Microsoft YaHei";
}
body{
  background-color: #f1f4f9;
}
ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

img {
  border: none;
  max-width: 100%;
}

input,textarea{
  outline: none;
}

i{
  font-style: normal;
}

a {
  color: #666;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #35b5ff;
}

/*清除浮动样式*/
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
  overflow: hidden;
}

//header style start
header{
  width: 100%;
  height: 62px;
  background-color: #fff;
  box-shadow: 0 0 20px 10px #f5f5f5;
  position: fixed;
  z-index: 1;
  .logo-left{
    float: left;
    .logo{
      display: inline-block;
      width: 147px;
      height: 42px;
      background: url(/images/service-logo.png) no-repeat;
      text-indent: -2000px;
      margin: {
        top: 10px;
        left: 15px;
      }
    }
  }
  .search-right{
    float: right;
    margin-top: 10px;
    line-height: 40px;
    .input-box{
      float: left;

      .input{
        width: 100%;
        height: 40px;
        border:1px solid #cfcfcf;
        padding-left: 15px;
        border-radius: 40px;
        color: #cfcfcf;
        float: left;
      }
      .search{
        float: right;
        width: 27px;
        height: 27px;
        display: inline-block;
        background-image: url(/images/img.png);
        background-position: -55px 0;
        background-repeat:no-repeat;
        margin-top: -35px;
        z-index: 10;
      }
    }
    
    .header-pic{
      width: 45px;
      height: 45px;
      border-radius: 50%;
      float: right;
      margin: 0 28px;
    }

  }
}
//header style end

//left nav start
.content{
  width: 100%;
  height: auto;
  overflow: hidden;
  nav{
    width: 208px;
    height: 100%;
    background-color: #112130;
    position: fixed;
    bottom: 0;
    top: 62px;
    left:0;
    float: left;
    z-index: 2;
    .nav-left{
      li{
        width: 240px;
        height: 120px;
        line-height: 120px;
        text-align: center;
        margin-top: 62px;
        position: relative;
        &:hover{
          transition:all 5s;
          >.nav-hover{
            transition:all 5s;
            display: block;
          }
        }
        &.active{
          background-color: #47dbcd;
        }
        &.red-nav{
          background-color: #f32f4e;
        }
        &.blue-nav{
          background-color: #066dc2;
        }
        .nav-hover{
          width: 240px;
          position: absolute;
          left: 208px;
          bottom: 0;
          top: 0;
          background-color: #47dbcd;
          z-index: 20;
          display: none;
          transition:all .5s;
          .company-nav{
            width: 210px;
            position: fixed;
            top: 62px;
            bottom: 0;
            background-color: #47dbcd;
            .company-plan{

              &:last-child{
                padding-top: 20px;
              }
              .plan-title{
                height: 50px;
                .vertical{
                  width: 6px;
                  height: 40px;
                  display: inline-block;
                  background-color: #fff;
                  vertical-align: middle;
                  margin-right: 10px;
                }
              }
              .company-type{
                padding-left: 32px;
                p{
                  height: 25px;
                  text-align: center;
                  margin: 10px 0 30px;
                  .first-vertical{
                    padding: 0 8px;
                    border:{
                      left: 2px;
                      right: 2px;
                      style: solid;
                      color: #fff;
                    }
                  }
                }
              }
              a{
                line-height: 40px;
                color: #fff;
              }
              .plan-pic{
                height: 27px;
                background-image: url("/images/img.png");
                background-position: -20px 0;
                background-repeat: no-repeat;
                vertical-align: -5px;
                padding: 5px 18px;

              }
              .project-pic{
                height: 27px;
                background-image: url("/images/img.png");
                background-position: 0 0;
                background-repeat: no-repeat;
                vertical-align: -8px;
                padding: 5px 12px;

              }
            }
          }
        }
        span{
          position: absolute;
          width:0;
          height:0;
          border-width:25px 32px 35px 0;
          border-style:solid dashed dashed dashed;
          right: 0;
          bottom: -60px;
          &.green{
            border-color:#008f8c transparent transparent transparent;
          }
          &.red{
            border-color:#a40820 transparent transparent transparent;
          }
          &.blue{
            border-color:#00519e transparent transparent transparent;
          }
        }
        a{
          color: #fff;
          font-size: 16px;
        }

      }
    }
  }

  .right-content{
    float: left;
    width: 100%;
    height: 100%;
    background-color: #f0f1f5;
    padding:{
      left: 80px;
      top: 35px;
    }
    margin: {
      left: 208px;
    }
    //头部列表
    .top-fix{
      width: 100%;
      position: fixed;
      top: 63px;
      z-index: 1;
      background-color: #f0f1f5;
      .management{
        width: 80%;
        height: 60px;
        line-height: 60px;
        background: #fff;
        border:1px solid #dadce0;
        border-radius: 10px 10px 0 0;
        margin:{
          top: 35px;
        }
        overflow: hidden;
        .management-left{
          float: left;
          width: 50%;
          height: 62px;
          li{
            float: left;
            width: 150px;
            height: 100%;
            a{
              font-size:14px;
              padding: 0  35px 0 30px;
              color: #252525;
              display: inline-block;
              height: 26px;
              border-right: 1px solid #d3dce2;
              vertical-align: middle;
              line-height: 28px;
            }
            &.current{
              height: 57px;
              border-bottom:3px solid #066cc0;
            }
          }
        }
        .management-right{
          float: right;
          li{
            float: left;
            position: relative;
            &:first-child{
              height: 30px;
              vertical-align: middle;
            }
            vertical-align: middle;
            .selected{
              height: 30px;
              color: #066dc2;
              font-size: 16px;
              border: 0 none;
              line-height: 30px;
            }
            .span-line{
              display: inline-block;
              width: 1px;
              height: 28px;
              background-color: #d3dce3;
              margin-left: 20px;
              vertical-align: middle;
            }
            .line-list{
              display: inline-block;
              width: 20px;
              height: 17px;
              background: url("/images/business/line.png") no-repeat center;
              padding: 0 25px 30px;
              vertical-align: middle;
            }
            .right-list{
              display: none;
              .list-text{
                position: absolute;
                width: 115px;
                background: #f0f6fa;
                border: 1px solid #98b2c7;
                border-radius: 5px;
                left: 20%;
                top: 25px;
                text-align: center;
                padding: {
                  left: 10px;
                  right: 10px;
                }
                a{
                  display: block;
                  border-bottom:1px solid #98b2c7;
                  font-size: 14px;
                  color: #666;
                  &:last-child{
                    border-bottom: 0;
                    border: {
                      left: 1px;
                      style: solid;
                      color: #d6dadd;
                    }
                  }
                  &:hover{
                    color: #066dc2;
                  }
                }
              }

            }
          }

        }
      }
    }
  }

}

//left nav end

//footer style
footer{
  height: 178px;
  text-align: center;
  width: 100%;
  position: relative;
  bottom:0;
  left: 0;
  background-color: #102131;
  padding-top: 5px;
  .footer{
    width: 900px;
    height: auto;
    text-align: center;
    overflow: hidden;
    margin: 10px auto;
    li{
      text-align: center;
      width: 180px;
      float: left;
      a{
        font-size: 12px;
        line-height: 30px;
        display: block;
        color: #666;
      }
    }
  }
  p{
    font-size: 12px;
    text-align: center;
    color: #666;
    span{
      padding-left: 40px;
    }
  }
}


























