@import "base";

//right content

.right-content{
  float: left;
  width: 100%;
  height: auto;
  background-color: #f1f4f8;
  padding:{
    left: 60px;
    top: 35px;
    //bottom: 400px;
  }
  margin: {
    top: 62px;
    left: 208px;
    bottom: 30px;
  }
  .top-fix{
    width: 100%;
    position: fixed;
    top: 62px;
    z-index: 1;
    background-color: #f0f1f5;
    .management{
      width: 80%;
      height: 60px;
      line-height: 60px;
      background: #fff;
      border:1px solid #dadce0;
      border-radius: 10px 10px 0 0;
      margin:{
        top: 35px;
      }
      .management-left{


        li{
          float: left;
          width: 202px;
          &.current{
            a{
              display: inline-block;
              border-bottom:3px solid #43dac9;
              height: 56px;
            }
          }
          a{
            font-size:14px;
            padding: 0 42px;
            color: #252525;
          }
          span{
            display: inline-block;
            height: 26px;
            width: 1px;
            background-color: #d3dce2;
            vertical-align: middle;
          }
        }
      }

      .management-right{
        float: right;
        a{
          display: inline-block;
          width: 76px;
          height: 30px;
          line-height: 30px;
          background-color: #46dbcd;
          text-align: center;
          color: #fff;
          font-size: 14px;
          margin-right: 20px;
        }
      }
    }
  }

  .tab-content{
    width: 80%;
    height:auto;
    margin-top: 80px;
    .detail{
      height: auto;
      background-color: #fff;
      border: 1px solid #dddddf;
      margin-bottom: 15px;
      .tab-one{
        width: 30%;
        float: left;
        padding:27px 30px 18px;
        li{
          font-size: 14px;
          p{
            color: #666;
          }
          &:first-child{
            height: 34px;
            p{
              color: #666;
              span{
                color: #4f8d57;
                &.red-name{
                  color: #dd4614;
                }
                &.get-red{
                  color: #dd4614;
                }
                &.purpose-name{
                  color: #423d87;
                }
                &.get-purpose{
                  color: #423d87;
                }
                &.yellow-name{
                  color: #aeac2c;
                }
                &.get-yellow{
                  color: #aeac2c;
                }
              }
              &.name-user{
                float: left;
              }
              &.status{
                float: right;
                padding-right: 60px;
              }
            }
          }
          .remarks{
            display: block;
            color: #999;
            margin-bottom: 40px;
          }
          .position{
            line-height: 28px;
          }
          .server{
            color: #4f8d57;
            a{
              @extend .server;
            }
          }
          .server-red{
            color: #dd4614;
            a{
              @extend .server-red;
            }
          }
          .server-purpose{
            color: #423d87;
            a{
              @extend .server-purpose;
            }
          }
          .server-yellow{
            color: #aeac2c;
            a{
              @extend .server-yellow;
            }
          }
        }
      }
      .data-right{
        float: left;
        height: 204px;
        width: 66%;
        @media screen and (max-width:1900px) {
          width: 100%;
          border-top: 1px solid #d3dce2;
        }
        li{
          width: 135px;
          height: 154px;
          float: left;
          border-left:1px solid #d3dce2;
          text-align: left;
          padding-top: 50px;
          padding-left: 5px;
          span{
            display: block;
            font-size: 12px;
            line-height: 20px;
            &.time{
              color: #4f8d57;
            }
            &.time-red{
              color: #dd4614;
            }
            &.time-purpose{
              color: #423d87;
            }
            &.time-yellow{
              color: #aeac2c;
            }
            &.text{
              color: #666;
            }
          }
        }
      }
      //bottom
      .same-bottom{
        width: 100%;
        height: 30px;
        line-height: 30px;
        p{
          color: #fff;
          font-size: 14px;
          &.bottom_l{
            float: left;
            padding-left: 30px;
          }
          &.bottom_r{
            float: right;
            padding-right: 30px;
          }
        }
      }
      .green-bottom{
        background-color: #508c56;
      }
      .red-bottom{
        background-color: #dd4614;
      }
      .purpose-bottom{
        background-color: #423d87;
      }
      .yellow-bottom{
        background-color: #aeac2c;
      }
    }
  }
}
