@import "../base";
$font:"Microsoft YaHei";
//右边内容
.right-content{
  //主体详细内容
  .all-main{
    width: 84%;
    height: auto;
    margin-top: 120px;
    >div{
      display: none;
    }
    >div.list{
      display: block;
    }
    .tab-content{
      width: 100%;
      height: auto;
      //列表
        .article{
          width: 100%;
          height: auto;
          overflow: hidden;
          li{
            width: 19%;
            height: auto;
            background-color: #f8f9fb;
            float: left;
            margin: {
              right: 1%;
              bottom: 30px;
            }
            &:last-of-type{
              margin-right: 0;
            }
            .top-button{
              padding:{
                top: 10px;
                left: 10px;
                right: 5px;
              }
              .input{
                float: left;
                .checked-none[data-style="checked"]{
                  display: none;
                }
                .checked-none[data-style="checked"] + label {
                  display: inline-block;
                  width: 20px;
                  height: 20px;
                  border: 1px solid #ddd;
                  background-color: #fff;
                  overflow: hidden;
                }
                .checked-none[data-style="checked"]:checked + label{
                  background: url("/images/business/aright.png") no-repeat center;
                }
                .checkedNum[data-style="checkeds"] + label:before{
                  width: 13px;
                  height: 10px;
                  background: url("/images/business/aright.png") no-repeat center;
                  text-align: center;
                  -webkit-transition: all 0.2s linear;
                  transition: all 0.2s linear;
                }
                .tick{
                  display: inline-block;
                  width: 20px;
                  height: 20px;
                  border: 1px solid #076dc2;
                  border-radius: 3px;
                }
              }
              .click-button{
                float: right;
                width: 12%;
                height: 100%;
                position: relative;
                .mark-btn{
                  display: block;
                  height: 32px;
                  background: url("/images/supplier/replace.png") no-repeat;
                  padding-bottom: 10px;
                }
                .hide-show{
                  display: none;
                  width: 100%;
                  height: auto;
                  position: absolute;

                  i{
                    display: block;
                    height: 32px;
                    cursor: pointer;
                    &.deleted-btn{
                      background: url("/images/supplier/del.png") no-repeat;
                    }
                    &.edit-btn{
                      margin-bottom: 6px;
                      background: url("/images/supplier/edit.png") no-repeat;
                    }
                  }
                }


              }
            }

            .project-name{
              width: 94%;
              padding: 0  10px;
              background-color: #f8f9fb;
              .name-title{
                margin-bottom: 15px;
                h4{
                  line-height: 28px;
                  font:{
                    weight: normal;
                    size: 16px;
                  }
                  color: #2c2d2f;
                }
                .number{
                  font-size: 14px;
                  color: #b5b6b8;
                }
              }
              .opening{
                width: 100%;
                .position-show{
                  display: inline-block;
                  width: 47%;
                  border:1px solid #ddd;
                  border-radius: 3px;
                  height: 44px;
                  line-height: 44px;
                  &:first-of-type{
                    margin-right: 2%;
                  }
                  color: #b4b4b4;
                  font-size: 12px;
                  .open-address{
                    display: inline-block;
                    width: 16px;
                    height: 22px;
                    background: url("/images/bidding/address.png")no-repeat;
                    vertical-align: middle;
                    margin: 0 15px;
                  }
                  .open-clock{
                    display: inline-block;
                    width: 21px;
                    height: 20px;
                    background: url("/images/bidding/clock.png")no-repeat;
                    vertical-align: middle;
                    margin: 0 15px;
                  }
                }
              }

              }
            .open-person{
              height: auto;
              background-color: #fff;
              text-align: center;
              padding:15px 0;
              margin: 20px 0 0;
              .head-pic{
                display: block;
                width: 80px;
                height: 80px;
                background-color: #fcf;
                border-radius: 50%;
                margin: 0 auto 10px;
              }
              p{
                font-size:12px;
                line-height: 22px;
                color: #027de4;
                &:first-of-type{
                  color: #333;
                }
                &:last-of-type{
                  color: #8c8c8c;
                }
              }
              span{
                display: block;
                width: 26px;
                height: 1px;
                background-color: #dfdfdf;
                margin:15px auto;
              }
              .circle{
                text-align: center;
                a{
                  display: block;
                  width: 36px;
                  height: 36px;
                  border-radius: 50%;
                  text-align: center;
                  line-height: 36px;
                  color: #fff;
                  font-size: 12px;
                  margin: auto;
                  &.blue{
                    background-color: #027de4;
                  }
                }
              }
            }
            .location{
              height: 48px;
              background-color: #fff;
              line-height: 48px;
              border-top: 1px solid #e6e6e6;
              .position-show{
                width: 49%;
                display: inline-block;
                font-size: 12px;
                color: #8c8c8c;
                &:first-of-type{
                  border-right: 1px solid #e6e6e6;
                }
                text-align: center;
                i{
                  display: inline-block;
                  vertical-align: middle;
                  margin: {
                    right: 15px;
                  }
                  &.open-city{
                    width: 18px;
                    height: 18px;
                    background: url("/images/bidding/city.png") no-repeat;
                  }
                  &.open-write{
                    width: 16px;
                    height: 17px;
                    background: url("/images/bidding/write.png") no-repeat;
                  }
                }
              }
            }
          }
        }
        //编辑
        .same-hide{
        display: none;
        .edit-box{
          width: 1000px;
          position: absolute;
          z-index: 100;
          height: 800px;
          top: 20%;
          left: 50%;
          margin-left: -500px;
          .close{
            width: 80px;
            height: 80px;
            background: url("/images/business/circle_close.png") no-repeat;
            display: block;
            position: absolute;
            right: -62px;
            top: -65px;
            cursor: pointer;
          }
          .edit-pop{
            position: absolute;
            left: 50%;
            top: 0;
            margin-left: -500px;
            width: 100%;
            height: auto;
            border: 1px solid #066dc2;
            background-color: #fff;
            .pop-input{
              width: 100%;
              height: auto;
              overflow: hidden;
              margin-bottom: 25px;
              li{
                width: 47%;
                float: left;
                line-height: 55px;
                border-bottom:1px solid #ddd;
                margin-top: 10px;
                &:nth-of-type(odd){
                  margin-right: 60px;
                }
                label{
                  display: inline-block;
                  margin-left: 30px;
                  width: 35%;
                  font-size: 14px;
                  color: #636267;
                }
                .selected-same{
                  width: 56%;
                  background: url("/images/business/down.png") no-repeat right 10px center;
                  text-align: center;
                  padding-left: 50px;
                  font-size: 15px;
                  line-height: 45px;
                  color: #252525;
                }
                .edit-pt{
                  width: 42%;
                  background: 0;
                  padding-left: 50px;
                  font-size: 14px;
                  color: #252525;
                  &::-webkit-input-placeholder{ color: #c2bcbc; }

                }
                .icon-time{
                  height: 25px;
                  background: url("/images/business/calendar.png") no-repeat right center;
                }
              }
            }
            .file-position{
              width: 95%;
              margin: 0 auto 30px;
              height: auto;
              overflow: hidden;
              line-height: 78px;
              font-size: 14px;
              .file{
                float: left;
                width: 8%;
                background-color: #066dc2;
                text-align: center;
                color: #fff;
                border-radius: 50px 0 0 50px;
                height: 82px;
              }
              .name-file{
                width: 15%;
                float: left;

                text-align: left;
                padding-left: 20px;
                color: #333;
                border:2px solid #066dc2;
              }
              .view-upload{
                width:62% !important;
              }
              .cun{
                width: 12%;
                float: left;
                color: #066dc2;
                text-align: center;
                border:2px solid #066dc2;
                border-radius: 50px 0 0 50px;

              }
              .file-center{
                width: 75%;
                float: left;
                padding-left: 20px;
                overflow: hidden;
                border: {
                  top: 2px;
                  bottom: 2px;
                  style: solid;
                  color: #066dc2;
                }
                small{
                  float: left;
                }
                .bg-pic{
                  float: right;
                  width: 40px;
                  height: 27px;
                  background: url("/images/business/small.jpg") no-repeat right center;
                  margin:{
                    top: 26px;
                    right: 2%;
                  }
                }
                .view-pic{
                  float: right;
                  width: 34px;
                  height: 30px;
                  background: url("/images/supplier/file_view.png") no-repeat right center;
                  margin:{
                    top: 26px;
                    right: 2%;
                  }
                }
              }
              .file-upload{
                width: 10%;
                float: left;
                background-color: #066dc2;
                text-align: center;
                border-radius: 0 50px 50px 0;
                border-left:1px solid #066dc2;
                height: 82px;
                input[type="file"]{
                  display: none;
                }
                .replace{
                  display: block;
                  color: #fff;
                  vertical-align: middle;
                  line-height: 30px;
                  img{
                    width: 29px;
                    height: 31px;
                    display: block;
                    margin: 10px auto 0;

                  }
                }
              }
            }
            .modify{
              width: 100%;
              .modify-btn{
                width: 100%;
                height: 58px;
                color: #fff;
                font-size: 16px;
              }
              .sure{
                @extend .modify-btn;
                background-color: #066dc2;
                cursor: pointer;
              }
            }
          }

        }
        .del-box{
          width: 30%;
          height: auto;
          position: absolute;
          left: 50%;
          top: 30%;
          margin-left: -265px;
          z-index: 80;
          .close{
            width: 80px;
            height: 80px;
            background: url("/images/business/circle_close.png") no-repeat;
            display: block;
            position: absolute;
            right: -62px;
            top: -65px;
            cursor: pointer;
          }
          .tips{
            width: 100%;
            background-color: #fff;
            border: 2px solid #066dc2;
            text-align: center;
            h3{
              color: #066dc2;
              font-size: 16px;
              height: 40px;
              line-height: 40px;
              margin: 20px 0 10px;
            }
            p{
              font-size: 16px;
              color: #333;
              line-height: 30px;
              margin-bottom: 20px;
            }
            .sure{
              width: 100%;
              height: 62px;
              font-size: 16px;
              background-color: #066dc2;
              color: #fff;
              cursor: pointer;
            }
          }
        }
      }
        .export-box{
        width: 50%;
        height: auto;
        position: absolute;
        left: 50%;
        top: 35%;
        margin-left: -25%;
        z-index: 80;
        .close{
          width: 80px;
          height: 80px;
          background: url("/images/business/circle_close.png") no-repeat;
          display: block;
          position: absolute;
          right: -62px;
          top: -65px;
          cursor: pointer;
        }
        .tips{
          width: 100%;
          background-color: #fff;
          border: 2px solid #066dc2;
          text-align: center;
          h3{
            color: #066dc2;
            font-size: 18px;
            height: 40px;
            line-height: 40px;
            margin: 20px 0 10px;
          }
          p{
            font-size: 16px;
            color: #333;
            line-height: 30px;
            margin-bottom: 20px;
            span{
              color: #999;
              font-size: 14px;
            }
          }
          .file-position{
            width: 98%;
            margin: 0 auto 10px;
            height: auto;
            overflow: hidden;
            line-height: 78px;
            font-size: 14px;

            .cun{
              width: 15%;
              float: left;
              color: #066dc2;
              text-align: center;
              border:2px solid #066dc2;
              border-radius: 50px 0 0 50px;

            }
            .file-center{
              width: 70%;
              float: left;
              padding-left: 20px;
              overflow: hidden;
              border: {
                top: 2px;
                bottom: 2px;
                style: solid;
                color: #066dc2;
              }
              line-height: 78px;
              small{
                float: left;
              }
              .bg-pic{
                float: right;
                width: 34px;
                height: 35px;
                background: url("/images/business/excel.png") no-repeat right center;
                margin:{
                  top: 3%;
                  right: 2%;
                }
              }
            }
            .file-upload{
              width: 10%;
              float: left;
              background-color: #066dc2;
              text-align: center;
              border-radius: 0 50px 50px 0;
              border-left:1px solid #066dc2;
              height: 82px;
              input[type="file"]{
                display: none;
              }
              .replace{
                display: block;
                color: #fff;
                vertical-align: middle;
                line-height: 30px;
                img{
                  width: 29px;
                  height: 31px;
                  display: block;
                  margin: 10px auto 0;

                }
              }
            }
          }
          .number-time{
            width: 45%;
            margin: 80px auto;
            border-bottom: 1px solid #dfdfdf;
            text-align: left;
            label{
              width: 40%;
              display: inline-block;
              text-align: center;
            }
            .select-number{
              width: 56%;
              padding-left: 90px;
              line-height: 45px;
              color: #c2bcbc;
              font-size: 14px;
              option{
                color: #252525;
              }
            }

          }
          .sure{
            width: 100%;
            height: 62px;
            font-size: 16px;
            background-color: #066dc2;
            color: #fff;
            cursor: pointer;
          }
        }
      }
    }

  }
}

#modulebg{
  background: rgba(0,0,0,.5);
  z-index: 8;
  position: fixed;
  top: 0;
  left: 10.8%;
  right: 0;
  bottom: 0;
  display: none;
}