@import "../base";
body{
  background: url("/images/business/bg.png") 100% -240%;
}
$font:"Microsoft YaHei";
//右边内容
.right-content{
  //主体详细内容
  .all-main{
    width: 84%;
    height: auto;
    margin-top: 92px;
    >div{
      display: none;
    }
    >div.list{
      display: block;
    }
    .tab-content{
      width: 100%;
      //列表
      .so{
        width: 84%;
        position: fixed;
        background-color: #f0f1f5;
        padding-top: 20px;
        p{
          width: 212px;
          border-bottom: 1px solid #d2d2d2;
          margin-bottom: 10px;
          input{
            width: 80%;
            vertical-align: middle;
            background: 0;
            font-size: 14px;
            color: #333;
            line-height: 35px;
            &::-webkit-input-placeholder{
              color: #999;
            }
          }
          .under-search{
            display: inline-block;
            background: url("/images/business/search.png") no-repeat center;
            width: 26px;
            height: 27px;
            vertical-align: middle;
          }
        }

        .search-module{
          width: 45%;
          border:2px solid #066dc2;
          background-color: #fff;
          display: none;
          position: absolute;
          left: 0;
          top: 30px;
          padding: 0 25px;
          .search-input{
            width: 100%;
            overflow: hidden;

            li{
              width: 310px;
              float: left;
              border-bottom:1px solid #ddd;
              @media screen and (min-width: 1280px) and (max-width: 1680px){
                width: 600px;
              }
              margin:{
                top: 2px;
                right: 50px;
              }
              height: 65px;
              line-height: 65px;
              &:nth-of-type(even){
                margin-right: 0;
              }
              label{
                display: inline-block;
                height: 40px;
                line-height:40px;
                font-size: 14px;
                color: #666;
                border-right:1px solid #ededed;
                text-align: left;
                width: 56px;
                padding: {
                  left: 10px;
                  right: 30px;
                }
              }
              input{
                width: 60%;
                padding-left: 10px;
                font-size: 16px;
              }
            }

          }
          .right-btn{
            margin: 30px 0;
            float: right;
            .btn{
              width: 120px;
              height: 40px;
              font-size: 16px;
              cursor: pointer;
              font-family: $font;
            }
            .cancel{
              background-color: #fff;
              border:1px solid #066dc2;
              color: #066dc2;
            }
            .summary{
              background: #066dc2;
              color: #fff;
            }
          }
        }
      }
      .article{
        width: 90%;
        height: auto;
        margin: 90px auto 50px;
        .all-module{
          float: left;
          height: auto;
          li{
            float: left;
            width: 48%;
            background-color: #fff;
            margin:{
              bottom: 50px;
              right: 4%;

            }
            box-shadow: 0 6px 20px #c1d5e8;
            border-radius: 5px;
            &:nth-of-type(even){
              margin-right: 0;
            }
            //&:nth-of-type(odd){
            //  margin-left: 20px;
            //}
            //@media screen and (max-width: 1578px){
            //  width: 46%;
            //}
            .top{
              width: 100%;
              .number{
                float: left;
                display: block;
                height: 50px;
                width: 50px;
                background-color: #066dc2;
                border-radius: 50%;
                text-align: center;
                line-height: 50px;
                font-size: 24px;
                color: #fff;
                font-family: Arial;
                margin:{
                  left: -15px;
                  top: -20px;
                }
                @media screen and (min-width: 1280px) and (max-width: 1440px) {
                  margin-left: -20px;
                }
              }
              .number-name{
                width: 82%;
                margin: 10px auto;
                p{
                  float: left;
                  width: 50%;
                  font-size: 14px;
                  line-height: 26px;
                  margin: auto;
                  color: #666;
                  span{
                    color: #333;
                  }
                }
              }
              .input{
                float: right;
                margin: {
                  top: -92px;
                  right: 5px;
                }
                .checked-none[data-style="checked"]{
                  display: none;
                }
                .checked-none[data-style="checked"] + label {
                  display: inline-block;
                  width: 20px;
                  height: 20px;
                  border: 1px solid #ddd;
                  background-color: #fff;
                  overflow: hidden;
                }
                .checked-none[data-style="checked"]:checked + label{
                  background: url("/images/business/aright.png") no-repeat center;
                }
                .checkedNum[data-style="checkeds"] + label:before{
                  width: 13px;
                  height: 10px;
                  background: url("/images/business/aright.png") no-repeat center;
                  text-align: center;
                  -webkit-transition: all 0.2s linear;
                  transition: all 0.2s linear;
                }
                .tick{
                  display: inline-block;
                  width: 20px;
                  height: 20px;
                  border: 1px solid #076dc2;
                }
              }
            }
            .center{
              width: 100%;
              margin: 15px auto;
              text-align: center;
              p{
                float: left;
                vertical-align: middle;
                &.head-pic{
                  width: 40%;
                  height: 80px;
                  span{
                    font-size: 14px;
                    color: #066dc2;
                    line-height: 35px;
                  }
                  a{
                    margin: 0 10px;
                    img{
                      width: 80px;
                      height: 80px;
                      border-radius: 50%;
                      vertical-align: middle;
                    }
                  }
                }
                &.mutual{
                  width: 20%;
                  text-align: center;
                  line-height: 40px;
                  a{
                    display:block;
                  }
                  span{
                    display: block;
                    font-size: 14px;
                    color: #666;
                  }
                }
                a{
                  text-align: center;
                  vertical-align: middle;
                }
              }
            }
            .edit-input{
              width: 97%;
              margin-left: 15px;
              .input-l{
                float: left;
                width: 72%;
                .input-text{
                float: left;
                width: 50%;
                display: flex;
                margin-bottom: 20px;
                align-items: center;
                label{
                  font-size: 14px;
                  color: #666;
                }
                input{
                  width: 55%;
                  height: 40px;
                  background: #f0f6fa;
                  border: 1px solid #98b2c7;
                  border-radius: 5px;
                  padding-left: 10px;
                  font-size: 12px;
                  color: #333;
                  font-family: "Microsoft YaHei";
                  word-break:break-all;
                  &::-webkit-input-placeholder{
                    color: #333;
                  }
                  &:-ms-input-placeholder{
                    color: #333;
                  }
                  &:-moz-placeholder{
                    color: #333;
                  }
                }
              }
              }
              .input-r{
                float: left;
                textarea{
                  resize: none;
                  height: 96px;
                  border-color: #98b2c7;
                  border-radius: 5px;
                  color: #333;
                  background-color: #f0f6fa;
                  padding: {
                    left: 2%;
                    top: 1%;
                  }
                  font:{
                    family: $font;
                  }
                }
              }
            }
            .other-thing{
              padding-left: 20px;
              margin-bottom: 20px;
              .same-icon{
                font-size: 12px;
                color: #6e6e6e;
                i{
                  display: inline-block;
                  vertical-align: -7px;
                  margin-right: 10px;
                  &.time-icon{
                    width: 25px;
                    height: 25px;
                    background: url("/images/business/clock.png") no-repeat center;
                  }
                  &.address-icon{
                    width: 21px;
                    height: 25px;
                    background: url("/images/business/position.png") no-repeat center;
                  }
                  &.people-icon{
                    width: 21px;
                    height: 25px;
                    background: url("/images/business/person.png") no-repeat center;
                  }
                }
                small{
                  @extend .same-icon;
                  margin-right: 35px;
                }
              }
            }
          }
        }
      }
      .same-box{
        width: 100%;
        min-height: 590px;

        //汇总
        .and-content {
          min-height: 592px;
          .tab-summary {
            width: 100%;
            height: auto;
            overflow: hidden;
            .summary-input {
              height: auto;
              li {
                float: left;
                width: 30%;
                height: 50px;
                line-height: 50px;
                border-bottom: 1px solid #c6c6c6;
                padding: 0 10px;
                margin: {
                  right: 46px;
                  bottom: 35px;
                }
                &:nth-of-type(3) {
                  margin-right: 0;
                }
                label {
                  float: left;
                  width: 30%;
                  font-size: 14px;
                  color: #666;
                }
                .select-number {
                  float: left;
                  width: 70%;
                  text-align: center;
                  line-height: 50px;
                  font-size: 14px;
                  color: #999;
                  padding-left: 10px;
                  background: url("/images/business/down.png") no-repeat right 10px center;
                }
                input {
                  float: left;
                  width: 66%;
                  text-align: center;
                  line-height: 50px;
                  font-size: 14px;
                  color: #999;
                  padding-left: 10px;
                  &.icon-calendar {
                    background: url("/images/business/calendar.png") no-repeat right 10px center;
                  }
                }
              }
            }
            .hui-btn {
              width: 100%;
              .and-btn {
                float: right;
                width: 6%;
                height: 40px;
                background-color: #066dc2;
                line-height: 40px;
                text-align: center;
                font-size: 16px;
                color: #fff;
                cursor: pointer;
              }
            }
          }
          .summary-list{
            width: 100%;
            height: auto;
            border: 1px solid #066dc2;
            margin-top: 35px;
            background-color: #fff;
            display: none;
            li{
              height: 80px;
              line-height: 80px;
              font-size: 0;
              &.head-list{

                span{
                  color: #066dc2;

                }
              }
              &.children-list{
                border-top:1px solid #f0f1f4;
              }
              span{
                display: inline-block;
                width: 11%;
                text-align: center;
                font-size: 14px;
                border-right:1px solid #066dc2;
                &:last-child{
                  border-right: 0;
                }
              }


            }

          }
        }
        //查看洽谈文件
        .file-name{
          line-height: 35px;
          overflow: hidden;
          span{
            font-size: 18px;
            color: #333;
            padding-right: 10px;
            float: left;
            margin-top: 4px;
          }
          .name-left{
            float: left;
            li{
              float: left;
              text-align: center;
              margin-right: 10px;
              &.current{
                border-bottom:2px solid #046ec4;
                .file-pic{
                  svg{
                    fill:#066dc2 ;
                  }
                }

              }
              .file-pic{
                vertical-align: middle;
                padding: 0 8px 5px;
                text-align: center;
                svg{
                  width: 20px;
                  height: 20px;
                  fill: #757575;
                  vertical-align: middle;
                  &.file{
                    width: 25px;
                    height: 25px;
                  }
                }
              }
            }
          }
        }
        .file-order{
          width: 100%;
          min-height:500px;
          .file-list{
            margin-top: 30px;
            display: none;
            li{
              width: 100%;
              height: 60px;
              background-color: #fff;
              box-shadow: 0 2px 6px rgba(0,0,0,.1);
              margin-bottom: 15px;
              &:hover{
                box-shadow:0 0 10px 5px #d2dfec;
              }
              line-height: 60px;
              span{
                display: inline-block;
                width: 26px;
                height: 18px;
                text-align: center;
                line-height: 18px;
                color: #fff;
                font:{
                  size: 10px;
                  family: Arial;
                }
                border-radius: 5px;
                margin-left: -10px;
                &.first{
                  background-color: #066dc2;
                }
                &.second{
                  background-color: #f32f4e;
                }
                &.third{
                  background-color: #46dbcd;
                }
              }
              .icon-text{
                font-size: 16px;
                color: #333;
                padding-left: 45px;
                .pic-file{
                  display: inline-block;
                  width: 40px;
                  height: 36px;
                  background: url("/images/business/small_file.png") no-repeat center;
                  vertical-align: middle;
                  margin-right: 15px;
                }
                small{
                  font-size: 16px;
                  color: #999;
                }
              }
            }
          }
          .list-change{
            height: auto;
            overflow: hidden;
            li{
              float: left;
              width: 185px;
              height: 150px;
              margin-right: 30px;
              display: flex;
              align-items: flex-start;
              box-shadow: 0 4px 15px rgba(0,0,0,.15);
              &:last-child{
                margin-right: 0;
              }
              span{
                width: 20px;
                height: 20px;
                margin-left: 0;
                border-radius: 0;
              }
              .icon-text{
                width: 100%;
                display: block;
                text-align: center;
                padding:{
                  left: 0;
                }
                .icon-second{
                  display: block;
                  width: 85px;
                  height: 77px;
                  background: url("/images/business/big_file.png") no-repeat center;
                  margin: 15px auto 0;
                }
                text{
                  text-align: center;
                }
              }
            }
          }
          .tab-item{
            display: block;
          }
        }
      }
        //编辑
      .same-hide{
        display: none;
        .edit-box{
          width: 1000px;
          position: absolute;
          z-index: 10;
          height: 800px;
          top: 20%;
          left: 50%;
          margin-left: -500px;
          .close{
            width: 80px;
            height: 80px;
            background: url("/images/business/circle_close.png") no-repeat;
            display: block;
            position: absolute;
            right: -62px;
            top: -65px;
            cursor: pointer;
          }
          .edit-pop{
            position: absolute;
            left: 50%;
            top: 0;
            margin-left: -500px;
            width: 100%;
            height: auto;
            border: 1px solid #066dc2;
            background-color: #fff;
            .pop-input{
              width: 100%;
              height: auto;
              overflow: hidden;
              margin-bottom: 25px;
              li{
                width: 47%;
                float: left;
                line-height: 55px;
                border-bottom:1px solid #ddd;
                margin-top: 10px;
                &:nth-of-type(odd){
                  margin-right: 60px;
                }
                label{
                  display: inline-block;
                  margin-left: 30px;
                  width: 35%;
                  font-size: 14px;
                  color: #636267;
                }
                .selected-same{
                  width: 56%;
                  background: url("/images/business/down.png") no-repeat right 10px center;
                  text-align: center;
                  padding-left: 50px;
                  font-size: 15px;
                  line-height: 45px;
                  color: #252525;
                }
                .edit-pt{
                  width: 42%;
                  background: 0;
                  padding-left: 50px;
                  font-size: 14px;
                  color: #252525;
                  &::-webkit-input-placeholder{ color: #c2bcbc; }
                }
                .icon-time{
                  height: 25px;
                  background: url("/images/business/calendar.png") no-repeat right center;
                }
              }
            }
            .file-position{
              width: 95%;
              margin: 0 auto 30px;
              height: auto;
              overflow: hidden;
              line-height: 78px;
              font-size: 14px;

              .cun{
                width: 12%;
                float: left;
                color: #066dc2;
                text-align: center;
                border:2px solid #066dc2;
                border-radius: 50px 0 0 50px;

              }
              .file-center{
                width: 74%;
                float: left;
                padding-left: 20px;
                overflow: hidden;
                border: {
                  top: 2px;
                  bottom: 2px;
                  style: solid;
                  color: #066dc2;
                }
                small{
                  float: left;
                }
                .bg-pic{
                  float: right;
                  width: 40px;
                  height: 27px;
                  background: url("/images/business/small.jpg") no-repeat right center;
                  margin:{
                    top: 26px;
                    right: 2%;
                  }
                }
              }
              .file-upload{
                width: 10%;
                float: left;
                background-color: #066dc2;
                text-align: center;
                border-radius: 0 50px 50px 0;
                border-left:1px solid #066dc2;
                height: 82px;
                input[type="file"]{
                  display: none;
                }
                .replace{
                  display: block;
                  color: #fff;
                  vertical-align: middle;
                  line-height: 30px;
                  img{
                    width: 29px;
                    height: 31px;
                    display: block;
                    margin: 10px auto 0;

                  }
                }
              }
            }
            .modify{
              width: 100%;
              .modify-btn{
                width: 100%;
                height: 58px;
                color: #fff;
                font-size: 16px;
              }
            }
          }

        }
        .del-box{
          width: 30%;
          height: auto;
          position: absolute;
          left: 50%;
          top: 40%;
          margin-left: -265px;
          z-index: 80;
          .close{
            width: 80px;
            height: 80px;
            background: url("/images/business/circle_close.png") no-repeat;
            display: block;
            position: absolute;
            right: -62px;
            top: -65px;
            cursor: pointer;
          }
          .tips{
            width: 100%;
            background-color: #fff;
            border: 2px solid #066dc2;
            text-align: center;
            h3{
              color: #066dc2;
              font-size: 16px;
              height: 40px;
              line-height: 40px;
              margin: 20px 0 10px;
            }
            p{
              font-size: 16px;
              color: #333;
              line-height: 30px;
              margin-bottom: 20px;
            }
            .sure{
              width: 100%;
              height: 62px;
              font-size: 16px;
              background-color: #066dc2;
              color: #fff;
              cursor: pointer;
            }
          }
        }
        .export-box{
          width: 50%;
          height: auto;
          position: absolute;
          left: 50%;
          top: 35%;
          margin-left: -25%;
          z-index: 80;
          .close{
            width: 80px;
            height: 80px;
            background: url("/images/business/circle_close.png") no-repeat;
            display: block;
            position: absolute;
            right: -62px;
            top: -65px;
            cursor: pointer;
          }
          .tips{
            width: 100%;
            background-color: #fff;
            border: 2px solid #066dc2;
            text-align: center;
            h3{
              color: #066dc2;
              font-size: 18px;
              height: 40px;
              line-height: 40px;
              margin: 20px 0 10px;
            }
            p{
              font-size: 16px;
              color: #333;
              line-height: 30px;
              margin-bottom: 20px;
              span{
                color: #999;
                font-size: 14px;
              }
            }
            .file-position{
              width: 98%;
              margin: 0 auto 10px;
              height: auto;
              overflow: hidden;
              line-height: 78px;
              font-size: 14px;

              .cun{
                width: 15%;
                float: left;
                color: #066dc2;
                text-align: center;
                border:2px solid #066dc2;
                border-radius: 50px 0 0 50px;

              }
              .file-center{
                width: 70%;
                float: left;
                padding-left: 20px;
                overflow: hidden;
                border: {
                  top: 2px;
                  bottom: 2px;
                  style: solid;
                  color: #066dc2;
                }
                line-height: 78px;
                small{
                  float: left;
                }
                .bg-pic{
                  float: right;
                  width: 34px;
                  height: 35px;
                  background: url("/images/business/excel.png") no-repeat right center;
                  margin:{
                    top: 3%;
                    right: 2%;
                  }
                }
              }
              .file-upload{
                width: 10%;
                float: left;
                background-color: #066dc2;
                text-align: center;
                border-radius: 0 50px 50px 0;
                border-left:1px solid #066dc2;
                height: 82px;
                input[type="file"]{
                  display: none;
                }
                .replace{
                  display: block;
                  color: #fff;
                  vertical-align: middle;
                  line-height: 30px;
                  img{
                    width: 29px;
                    height: 31px;
                    display: block;
                    margin: 10px auto 0;

                  }
                }
              }
            }
            .number-time{
              width: 45%;
              margin: 80px auto;
              border-bottom: 1px solid #dfdfdf;
              text-align: left;
              label{
                width: 40%;
                display: inline-block;
                text-align: center;
              }
              .select-number{
                width: 56%;
                padding-left: 90px;
                line-height: 45px;
                color: #c2bcbc;
                font-size: 14px;
                option{
                  color: #252525;
                }
              }

            }
            .sure{
              width: 100%;
              height: 62px;
              font-size: 16px;
              background-color: #066dc2;
              color: #fff;
              cursor: pointer;
            }
          }
        }
      }


    }
  }
}

#modulebg{
  background: rgba(0,0,0,.5);
  z-index: 8;
  position: fixed;
  top: 0;
  left: 10.8%;
  right: 0;
  bottom: 0;
  display: none;
}