@import "../base";

//company plan nav
.right-content{
  .article{
    width: 100%;
    height: auto;
    margin-top: 140px;
    .file-name{
      width: 80%;
      line-height: 35px;
      border-bottom: 1px solid #dadada;
      .name-left{
        float: left;
        span{
          vertical-align: middle;
          font-size: 18px;
          color: #333;
          padding-right: 10px;
        }
        .file-pic{
          vertical-align: middle;
          padding: 0 5px 5px;
          margin-right: 10px;
          svg{
            width: 20px;
            height: 20px;
            fill: #757575;
            vertical-align: middle;
            text-align: center;
            &.file{
              width: 25px;
              height: 25px;
            }
          }
        }
        .current{
          border-bottom:2px solid #046ec4;
          svg{
            fill:#066dc2 ;
          }
        }
      }
      .file-position{
        float: right;
        p{
          font-size: 12px;
          a{
            font-size: 12px;
            &.cur{
              color: #046cc1;
            }
          }
        }
      }
    }
    .file-order{
      width: 100%;
      min-height:500px;
      .file-list{
        margin-top: 30px;
        li{
          width: 80%;
          height: 60px;
          background-color: #fff;
          box-shadow: 0 2px 6px rgba(0,0,0,.1);
          margin-bottom: 15px;
          &:hover{
            box-shadow:0 0 10px 5px #d2dfec;
          }
          line-height: 60px;
          span{
            display: inline-block;
            width: 26px;
            height: 18px;
            text-align: center;
            line-height: 18px;
            color: #fff;
            font:{
              size: 10px;
              family: Arial;
            }
            border-radius: 5px;
            margin-left: -10px;
            &.first{
              background-color: #066dc2;
            }
            &.second{
              background-color: #f32f4e;
            }
            &.third{
              background-color: #46dbcd;
            }
          }
          .icon-text{
            font-size: 16px;
            color: #333;
            padding-left: 45px;
            .pic-file{
              display: inline-block;
              width: 40px;
              height: 36px;
              background: url("/images/business/small_file.png") no-repeat center;
              vertical-align: middle;
              margin-right: 15px;
            }
            small{
              font-size: 16px;
              color: #999;
            }
          }
        }
      }
      .list-change{
        height: auto;
        overflow: hidden;
        li{
          float: left;
          width: 185px;
          height: 150px;
          margin-right: 30px;
          display: flex;
          align-items: flex-start;
          box-shadow: 0 4px 15px rgba(0,0,0,.15);
          &:last-child{
            margin-right: 0;
          }
          span{
            width: 20px;
            height: 20px;
            margin-left: 0;
            border-radius: 0;
          }
          .icon-text{
            width: 100%;
            display: block;
            text-align: center;
            padding:{
              left: 0;
            }
            .icon-second{
              display: block;
              width: 85px;
              height: 77px;
              background: url("/images/business/big_file.png") no-repeat center;
              margin: 15px auto 0;
            }
            text{
              text-align: center;
            }
          }
        }
      }
      .tab-item{
        display: none;
      }
    }
  }
}