@import "../base";

select{
  appearance:none;
  border:0 none;
  background: 0;
}
//right content
.right-content{
  .article{
    width: 83%;
    min-height: 600px;
    margin-top: 140px;
    .file-name{
      width: 100%;
      line-height: 35px;
      .name-left{
        float: left;
        span{
          vertical-align: middle;
          font-size: 18px;
          color: #333;
          padding-right: 10px;
        }
        .file-pic{
          vertical-align: middle;
          padding: 0 5px 5px;
          margin-right: 10px;
          svg{
            width: 20px;
            height: 20px;
            fill: #757575;
            vertical-align: middle;
            text-align: center;
            &.file{
              width: 25px;
              height: 25px;
            }
          }
        }
        .current{
          border-bottom:2px solid #046ec4;
          svg{
            fill:#066dc2 ;
          }
        }
      }
      .file-position{
        float: right;
        p{
          font-size: 12px;
          a{
            font-size: 12px;
            &.cur{
              color: #046cc1;
            }
          }
        }
      }
    }
    .and-content{
      .tab-summary{
        width: 100%;
        height: auto;
        overflow: hidden;
        .summary-input{
          height: auto;
          li{
            float: left;
            width: 30%;
            height: 50px;
            line-height: 50px;
            border-bottom: 1px solid #c6c6c6;
            padding: 0 10px;
            margin:{
              right: 46px;
              bottom: 35px;
            }
            &:nth-of-type(3){
              margin-right: 0;
            }
            label{
              float: left;
              width: 30%;
              font-size: 14px;
              color: #666;
            }
            .select-number{
              float: left;
              width: 70%;
              text-align: center;
              line-height: 50px;
              font-size: 14px;
              color: #999;
              padding-left: 10px;
              background:url("/images/business/down.png") no-repeat right 10px center;
            }
            input{
              float: left;
              width: 66%;
              text-align: center;
              line-height: 50px;
              font-size: 14px;
              color: #999;
              padding-left: 10px;
              &.icon-calendar{
                background:url("/images/business/calendar.png") no-repeat right 10px center;
              }
            }
          }
        }
        .hui-btn{
          .and-btn{
            float: right;
            width: 120px;
            height: 40px;
            background-color: #066dc2;
            line-height: 40px;
            text-align: center;
            font-size: 16px;
            color: #fff;
          }
        }
      }
    }

  }
}