@import "../base";

//company plan nav
.right-content{
  float: left;
  width: 100%;
  height: auto;
  background-color: #f0f1f5;
  padding:{
    left: 80px;
    top: 35px;
  }
  margin: {
    top: 62px;
    left: 208px;
  }
  .management{
    display: flex;
    width: 75%;
    height: 60px;
    line-height: 60px;
    background: #fff;
    border:1px solid #dadce0;
    border-radius: 10px 10px 0 0;
    margin-bottom: 50px;
    .management-left{
      display: flex;
        li{
          width: 179px;
          a{
            font-size:14px;
            padding: 0 42px;
            color: #252525;
            display: inline-block;
            height: 57px;
          }
          span{
            display: inline-block;
            height: 26px;
            width: 1px;
            background-color: #d3dce2;
            vertical-align: middle;
          }
          &.current{
            a{
              border-bottom:3px solid #066cc0;
            }

          }
        }
      }

    .management-right{
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      li{
        position: relative;
        &:first-child{
          display: flex;
          align-items: center;
          border: {
            right: 1px;
            style: solid;
            color: #d6dadd;
          }
          height: 30px;
          padding-right: 25px;
        }
        .selected{
          line-height: 35px;
          height: 30px;
          color: #066dc2;
          font-size: 16px;
          border: 0 none;
          vertical-align: middle;
        }
        .line-list{
          display: flex;
          width: 20px;
          height: 17px;
          background: url("/images/business/line.png") no-repeat center;
          padding: 0 25px 30px;
        }
        .right-list{
            display: none;
          .list-text{
            position: absolute;
            width: 115px;
            background: #f0f6fa;
            border: 1px solid #98b2c7;
            border-radius: 5px;
            left: 20%;
            top: 25px;
            text-align: center;
            padding: {
              left: 10px;
              right: 10px;
            }
            a{
              display: block;
              border-bottom:1px solid #98b2c7;
              font-size: 14px;
              color: #666;
              &:last-child{
                border-bottom: 0;
              }
              &:hover{
                color: #066dc2;
              }
            }
          }

        }
      }

    }
  }
  .article{
    .all-module{
      display: flex;
      flex-wrap: wrap;
      li{
        flex: 0 0 36.2%;
        background-color: #fff;
        margin:{
          bottom: 50px;
          right: 50px;
        }
        box-shadow: 0 6px 20px #c1d5e8;
        border-radius: 5px;
        .top{
          display: flex;
          justify-content: center;
          .number{
            display: block;
            height: 50px;
            flex: 0 0 50px;
            background-color: #066dc2;
            border-radius: 50%;
            text-align: center;
            line-height: 50px;
            font-size: 24px;
            color: #fff;
            font-family: Arial;
            margin:{
              left: -15px;
              top: -20px;
            }
            @media screen and (min-width: 1280px) and (max-width: 1440px) {
              margin-left: -20px;
            }
          }
          .number-name{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-top: 15px;
            p{
              flex: 0 0 50%;
              font-size: 14px;
              line-height: 26px;
              display: flex;
              justify-content: center;
            }
          }
          .input{
            margin: {
              top: 5px;
              right: 5px;
            }
            .checked-none[data-style="checked"]{
              display: none;
            }
            .checked-none[data-style="checked"] + label {
              display: inline-block;
              width: 20px;
              height: 20px;
              border: 1px solid #ddd;
              background-color: #fff;
              overflow: hidden;
            }
            .checked-none[data-style="checked"]:checked + label{
              background: url("/images/business/aright.png") no-repeat center;
            }
            .checkedNum[data-style="checkeds"] + label:before{
              width: 13px;
              height: 10px;
              background: url("/images/business/aright.png") no-repeat center;
              text-align: center;
              -webkit-transition: all 0.2s linear;
              transition: all 0.2s linear;
            }
            .tick{
              display: inline-block;
              width: 20px;
              height: 20px;
              border: 1px solid #ddd;
            }
          }
        }
        .center{
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 15px 0;
          p{
            display: flex;
            flex-direction: column;
            align-items: center;
            &.head-pic{
              span{
                font-size: 14px;
                color: #066dc2;
                line-height: 35px;
              }
              a{
                img{
                  width: 80px;
                  height: 80px;
                  border-radius: 50%;
                }
              }
            }
            &.mutual{
              flex: 0 0 40%;
              align-items: center;
              a{
                height: 80px;
              }
              span{
                font-size: 14px;
                color: #666;
              }
            }
            a{
              display: flex;
              align-items: center;
            }
          }
        }
        .edit-input{
          display: flex;
          flex-wrap: wrap;
          margin-left: 20px;
          .input-text{
            flex: 0 0 50%;
            display: flex;
            margin-bottom: 20px;
            align-items: center;
            label{
              font-size: 14px;
              color: #666;
            }
            input{
              width: 50%;
              height: 40px;
              background: #f0f6fa;
              border: 1px solid #98b2c7;
              border-radius: 5px;
              padding-left: 10px;
              font-size: 12px;
              color: #333;
            }
          }
        }
        .other-thing{
          padding-left: 20px;
          margin-bottom: 20px;
          .same-icon{
            font-size: 12px;
            color: #6e6e6e;
            margin-right: 35px;
            i{
              display: inline-block;
              vertical-align: -7px;
              margin-right: 10px;
              &.time-icon{
                width: 25px;
                height: 25px;
                background: url("/images/business/clock.png") no-repeat center;
              }
              &.address-icon{
                width: 21px;
                height: 25px;
                background: url("/images/business/position.png") no-repeat center;
              }
              &.people-icon{
                width: 21px;
                height: 25px;
                background: url("/images/business/person.png") no-repeat center;
              }
            }

          }
        }
      }
    }
  }
  .tab-content{
    width: 75%;
    height:auto;
    .detail{
      height: auto;
      background-color: #fff;
      border: 1px solid #dddddf;
      margin-bottom: 15px;
      .tab-one{
        width: 30%;
        float: left;
        padding:27px 30px 18px;
        li{
          font-size: 14px;
          p{
            color: #666;
          }
          &:first-child{
            height: 34px;
            p{
              color: #666;
              span{
                color: #4f8d57;
                &.red-name{
                  color: #dd4614;
                }
                &.get-red{
                  color: #dd4614;
                }
                &.purpose-name{
                  color: #423d87;
                }
                &.get-purpose{
                  color: #423d87;
                }
                &.yellow-name{
                  color: #aeac2c;
                }
                &.get-yellow{
                  color: #aeac2c;
                }
              }
              &.name-user{
                float: left;
              }
              &.status{
                float: right;
                padding-right: 60px;
              }
            }
          }
          .remarks{
            display: block;
            color: #999;
            margin-bottom: 40px;
          }
          .position{
            line-height: 28px;
          }
          .server{
            color: #4f8d57;
            a{
              @extend .server;
            }
          }
          .server-red{
            color: #dd4614;
            a{
              @extend .server-red;
            }
          }
          .server-purpose{
            color: #423d87;
            a{
              @extend .server-purpose;
            }
          }
          .server-yellow{
            color: #aeac2c;
            a{
              @extend .server-yellow;
            }
          }
        }
      }
      .data-right{
        float: left;
        height: 204px;
        width: 65%;
        li{
          width: 13%;
          height: 154px;
          float: left;
          border-left:1px solid #d3dce2;
          text-align: left;
          padding-top: 50px;
          padding-left: 5px;
          span{
            display: block;
            font-size: 12px;
            line-height: 20px;
            &.time{
              color: #4f8d57;
            }
            &.time-red{
              color: #dd4614;
            }
            &.time-purpose{
              color: #423d87;
            }
            &.time-yellow{
              color: #aeac2c;
            }
            &.text{
              color: #666;
            }
          }
        }
      }
      //bottom
      .same-bottom{
        width: 100%;
        height: 30px;
        line-height: 30px;
        p{
          color: #fff;
          font-size: 14px;
          &.bottom_l{
            float: left;
            padding-left: 30px;
          }
          &.bottom_r{
            float: right;
            padding-right: 30px;
          }
        }
      }
      .green-bottom{
        background-color: #508c56;
      }
      .red-bottom{
        background-color: #dd4614;
      }
      .purpose-bottom{
        background-color: #423d87;
      }
      .yellow-bottom{
        background-color: #aeac2c;
      }
    }
  }
}

footer{
  margin-left: 208px;
}